/* 
*
*  RESET
*
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* 
*
*  BODY
*
*/


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700&display=swap');

html {
  height: 100%;

}

body {
  font-family: 'Nunito', sans-serif !important;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;

}

.container {
  flex: 1 0 auto;
}


/* 
*
*  HEADER
*
*/

.logo h1 {
  color: #fff !important;
  font-size: 25px !important;
  font-weight: 700;
  margin-top: 5px;
}

.logo img {
  display: inline-block;
  margin: 0 20px;
  margin-top: -5px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  background: #071c2e;
}

.menu, .call-to-action {
    display: none;
}



/* 
*
*  SINGLE POST
*
*/

.post-container {
  background: #f2f2f2;
  width: 100% !important;
  padding: 25px 0;
}

.article-info {
  display: block;
}

.post-date, .post-reading-time {
  font-size: 12px;
}

.post-content {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  margin-top: 25px;
  border: 0;
}

.post-content h1 {
  margin: 0;
  color: #071c2e;
}

.post-content span {
  margin-bottom: 25px;
}

.post-content-text {
  margin-top: 25px;
}

.post-content-module {
  float: right;
  border: 1px solid #071c2e;
  padding: 10px;
}

.post-content-module span {
  width: 150px;
  height: 2px;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #071c2e;
}

.post-featured-image {
  height: 175px;
  width: 150px;
}

.wp-caption-text {
  font-size: 11px;
  text-align: center;
}

.post-featured-image img {
  border-radius: 10px;
}

.post-tags-list a {
  text-decoration: none;
  color: #071c2e;
}

.post-tags-list h3 {
  margin-left: 20px;
  width: 100%;
}

.post-tags-list li:hover {
  cursor: pointer;
  background-color:rgba(62, 146, 162, 0.3);
}

.post-tags-list li {
  list-style-type: none;
  margin: 3px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  z-index: 9999;
  position: relative;
}

.post-content h3 {
  font-size: 16px;
  color: #071c2e;
  font-weight: bold;
  position: relative;
}

.post-buttons {
  display: none;
}

.index {
  display: none;
}

.index-title {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.index-title i {
  margin-right: 5px;
}

.index-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #071c2e;
  margin-top: 20px;
  font-weight: bold;
}


.index-item {
  width: 48%;
  margin-bottom: 10px;
}

.index-item a {
  text-decoration: none;
  color: inherit;
}

h3 {
    margin-top: 25px;
}

.adv-products-container, .adv-products-container iframe, .popup-content, #share-popup, .popup-header, .popup-body {
    display: none !important;
}

.meta-box-costituenti h3, .meta-box-parti-usate h3, .meta-box-nome-comune h3, .post-tags-list h3 {
    margin-top: 0;
} 


/* 
*
*  FOOTER
*
*/

footer {
  background: #0e3457;
  height: 200px;
  text-align: center;
  color: #fff;
  flex-shrink: 0;
}

.footerBottom {
  margin-top: 100px !important;
}

.footerLinks ul {
  display: none;
}